# Convex (set in convex and remove from here)
POSTHOG_API_KEY=
WORKOS_API_KEY=
WORKOS_CLIENT_ID=

# Backend
CONVEX_DEPLOYMENT=
POSTHOG_PERSONAL_API_KEY=
POSTHOG_PROJECT_ID=
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
WORKOS_REDIRECT_URI=https://TODO.localhost/api/auth/callback

# Client
VITE_CONVEX_URL=
VITE_POSTHOG_KEY=
