name: _test
on: workflow_call

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2

      - run: bun install --frozen-lockfile

      - run: bun run ci:test
